<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Что-будет" data-toc-modified-id="Что-будет-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Что будет</a></span></li><li><span><a href="#Сводные-таблицы" data-toc-modified-id="Сводные-таблицы-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Сводные таблицы</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Упражнение" data-toc-modified-id="Упражнение-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Упражнение</a></span></li><li><span><a href="#Упражнение" data-toc-modified-id="Упражнение-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Упражнение</a></span></li><li><span><a href="#Фильтры-и-вычисления-с-помощью-loc-и-iloc" data-toc-modified-id="Фильтры-и-вычисления-с-помощью-loc-и-iloc-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Фильтры и вычисления с помощью loc и iloc</a></span></li><li><span><a href="#Но-сначала-упражнение" data-toc-modified-id="Но-сначала-упражнение-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Но сначала упражнение</a></span></li><li><span><a href="#Скорость-метода-loc" data-toc-modified-id="Скорость-метода-loc-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>Скорость метода loc</a></span></li><li><span><a href="#Упражнение" data-toc-modified-id="Упражнение-2.0.6"><span class="toc-item-num">2.0.6&nbsp;&nbsp;</span>Упражнение</a></span></li><li><span><a href="#Методы-isnull,-isna" data-toc-modified-id="Методы-isnull,-isna-2.0.7"><span class="toc-item-num">2.0.7&nbsp;&nbsp;</span>Методы isnull, isna</a></span></li><li><span><a href="#Упражнение" data-toc-modified-id="Упражнение-2.0.8"><span class="toc-item-num">2.0.8&nbsp;&nbsp;</span>Упражнение</a></span></li><li><span><a href="#Дата-и-время-в-pandas" data-toc-modified-id="Дата-и-время-в-pandas-2.0.9"><span class="toc-item-num">2.0.9&nbsp;&nbsp;</span>Дата и время в pandas</a></span></li><li><span><a href="#Упражнение" data-toc-modified-id="Упражнение-2.0.10"><span class="toc-item-num">2.0.10&nbsp;&nbsp;</span>Упражнение</a></span></li><li><span><a href="#Методы-работы-со-строками" data-toc-modified-id="Методы-работы-со-строками-2.0.11"><span class="toc-item-num">2.0.11&nbsp;&nbsp;</span>Методы работы со строками</a></span></li><li><span><a href="#Упражнение" data-toc-modified-id="Упражнение-2.0.12"><span class="toc-item-num">2.0.12&nbsp;&nbsp;</span>Упражнение</a></span></li><li><span><a href="#replace" data-toc-modified-id="replace-2.0.13"><span class="toc-item-num">2.0.13&nbsp;&nbsp;</span>replace</a></span></li><li><span><a href="#Как-учитывать-разное-написание-слов" data-toc-modified-id="Как-учитывать-разное-написание-слов-2.0.14"><span class="toc-item-num">2.0.14&nbsp;&nbsp;</span>Как учитывать разное написание слов</a></span></li><li><span><a href="#Что-делать-если-нужно-учесть-формы-написания-слов?" data-toc-modified-id="Что-делать-если-нужно-учесть-формы-написания-слов?-2.0.15"><span class="toc-item-num">2.0.15&nbsp;&nbsp;</span>Что делать если нужно учесть формы написания слов?</a></span></li><li><span><a href="#Библиотека-pymystem" data-toc-modified-id="Библиотека-pymystem-2.0.16"><span class="toc-item-num">2.0.16&nbsp;&nbsp;</span>Библиотека <a href="https://pypi.org/project/pymystem3/" rel="nofollow" target="_blank">pymystem</a></a></span></li><li><span><a href="#Домашнее-задание-3" data-toc-modified-id="Домашнее-задание-3-2.0.17"><span class="toc-item-num">2.0.17&nbsp;&nbsp;</span>Домашнее задание 3</a></span></li></ul></li></ul></li></ul></div>

# Что будет
- сводные таблицы
- фильтры и вычисления с помощью метода loc
- фильтрация пустых значений через isnull
- время в pandas
- строковые методы
- немного про учет форм слов

# Сводные таблицы
Прям как в экселе

In [ ]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

In [ ]:
ratings.info()

### Упражнение
Какие оценки поставил пользователь №1 и в каком количестве?

Что делаем:
1. Фильтруем датафрейм ratings для userId = 1
2. Считаем для этого пользователя сколько он выставил единиц, двоек итд

In [ ]:
ratings['userId']==1

In [ ]:
ratings[ratings['userId']==1]['rating'].value_counts()

Как это сделать для всех пользователей сразу:

In [ ]:
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0)

In [ ]:
# можно итоги добавить
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0, 
margins = True, margins_name='Итого').head(20)

### Упражнение
Какой пользователь выставил больше всех пятерок?

In [ ]:
pivot=ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0)

In [ ]:
pivot

In [ ]:
pivot=pivot.reset_index()

In [ ]:
pivot

In [ ]:
mx = pivot[5.0].max()
mx

In [ ]:
pivot[pivot[5.0] == mx]

### Фильтры и вычисления с помощью loc и iloc

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

In [ ]:
log.shape

### Но сначала упражнение
Сколько различных страниц есть в столбце url? Постройте топ-5 страниц по посещаемости.

Бонусный вариант: выведите топ-5 страниц без указания хоста https://host.ru

In [ ]:
log.url.value_counts()[:5]

In [ ]:
# метод loc позволяет выбрать строки и столбцы в соответствии с условиями
# двоеточие означает выбор всех значений

log.loc[:, ['user_id', 'region']].head()

In [ ]:
# iloc работает аналогично, но с указанием номера строки / столбца

log.iloc[:, [-2, -3]].head()

In [ ]:
# пример фильтра на страну
# если столбцы не надо фильтровать, то второй параметр можно не указывать

log.loc[log.region == 'Russia'].head()

In [ ]:
# пример вычисления нового столбца с НДС для страны

log.loc[log.region == 'Russia', 'VAT'] = 1.2
log.head(10)

In [ ]:
# вариант с вычисляемым фильтром

log.loc[lambda row: row.region == 'Russia'].head(10)

### Скорость метода loc
Посчитаем средний рейтинг разных жанров. Метод merge взят из материалов следующего занятия ¯ \ _ (ツ) _ / ¯

In [ ]:
ratings.head()

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

In [ ]:
joined = ratings.merge(movies, how='left', on='movieId')
joined.head()

In [ ]:
joined['Adventure'] = joined.apply(lambda row: row.rating if 'Adventure' in row.genres else None, axis=1)
joined.head()

Можно и через loc

In [ ]:
joined['Adventure'] = joined.loc[joined.genres.str.contains('Adventure'), 'rating']
joined.head()

Для замера времени сделаем эти операции для набор жанров

In [ ]:
genres = ['Adventure', 'Animation', 'Children', 'Drama', 'Musical', 'Thriller']

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.apply(lambda row: row.rating if genre in row.genres else None, axis=1)

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.loc[joined.genres.str.contains(genre), 'rating']

### Упражнение
Какие варианты источников трафика есть в столбце traffic_source?

Создайте столбец traffic_type, в котором для источников 'yandex' и 'google' будет стоять значение 'organic'. А для остальных вариантов - NaN.

In [ ]:
log.traffic_source.value_counts()

In [ ]:
log['traffic_type'] = log.apply(lambda row: 'organic' if row.traffic_source=='yandex' or row.traffic_source=='google' else None, axis=1)

In [ ]:
log.head()

### Методы isnull, isna
Определение пустых или None значений. По сути одинаковые методы

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'value': [123, None, np.nan, np.NaN, np.NAN, 456]})
df

In [ ]:
type(df)

In [ ]:
pd.isnull(df.value)

In [ ]:
# фильтр на пустые значения в столбце value

df.loc[pd.isnull(df.value), :]

### Упражнение
Для пустых значений в столбце traffic_type выставьте значение 'other'

In [ ]:
log.head()

In [ ]:
pd.isnull(log.traffic_type)

In [ ]:
log[pd.isnull(log.traffic_type)]['traffic_type']

In [ ]:
log['traffic_type'] = log.apply(lambda row: 'other' if pd.isnull(row.traffic_type) else row.traffic_type, axis=1)

In [150]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,VAT,traffic_type,date,hour
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,1.2,organic,2019-02-12 14:11:32,14
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,1.2,other,2019-02-12 14:11:44,14
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,1.2,organic,2019-02-12 14:11:55,14
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,1.2,organic,2019-02-12 14:12:05,14
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,1.2,organic,2019-02-12 14:12:16,14

### Дата и время в pandas

In [151]:
log['date'] = pd.to_datetime(log['timestamp'], unit='s')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,VAT,traffic_type,date,hour
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,1.2,organic,2019-02-12 14:11:32,14
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,1.2,other,2019-02-12 14:11:44,14
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,1.2,organic,2019-02-12 14:11:55,14
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,1.2,organic,2019-02-12 14:12:05,14
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,1.2,organic,2019-02-12 14:12:16,14

In [152]:
# столбец datetime64[ns] теперь имеет тип даты
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18938 entries, 0 to 18937
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       18938 non-null  int64
 1   visit_id        18938 non-null  object
 2   url             18938 non-null  object
 3   region          18938 non-null  object
 4   user_id         18938 non-null  object
 5   traffic_source  18938 non-null  object
 6   VAT             10913 non-null  float64
 7   traffic_type    18938 non-null  object
 8   date            18938 non-null  datetime64[ns]
 9   hour            18938 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 1.4+ MB

In [153]:
# получим час визита

log['hour'] = log['date'].dt.hour
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,VAT,traffic_type,date,hour
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,1.2,organic,2019-02-12 14:11:32,14
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,1.2,other,2019-02-12 14:11:44,14
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,1.2,organic,2019-02-12 14:11:55,14
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,1.2,organic,2019-02-12 14:12:05,14
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,1.2,organic,2019-02-12 14:12:16,14

### Упражнение
Дан датафрейм df с временем визита и соответствующей покупки. Сделайте следующее:
1. Создайте столбцы visit_dt и purchase_dt типа datetime из столбцов visit_datetime и purchase_datetime
2. Посчитайте разницу между временем визита и покупки (простым вычитанием)
3. Переведите полученный столбец с длительностью покупки в минуты:
```python
(df.purchase_dt - df.visit_dt).astype('timedelta64[m]')
```
4. Посчитайте среднее время покупки в минутах

In [154]:
df = pd.DataFrame({'visit_datetime': ['2019-11-04T00:05:13', '2019-11-04T00:06:19', '2019-11-04T01:35:14'], 
                   'purchase_datetime': ['2019-11-04T00:15:53', '2019-11-04T00:07:59', '2019-11-04T03:15:30']})
df

        visit_datetime    purchase_datetime
0  2019-11-04T00:05:13  2019-11-04T00:15:53
1  2019-11-04T00:06:19  2019-11-04T00:07:59
2  2019-11-04T01:35:14  2019-11-04T03:15:30

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   visit_datetime     3 non-null      object
 1   purchase_datetime  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [156]:
df['visit_dt'] = pd.to_datetime(df['visit_datetime'])
df['purchase_dt'] = pd.to_datetime(df['purchase_datetime'])
df

,visit_datetime,purchase_datetime,visit_dt,purchase_dt
0,2019-11-04T00:05:13,2019-11-04T00:15:53,2019-11-04 00:05:13,2019-11-04 00:15:53
1,2019-11-04T00:06:19,2019-11-04T00:07:59,2019-11-04 00:06:19,2019-11-04 00:07:59
2,2019-11-04T01:35:14,2019-11-04T03:15:30,2019-11-04 01:35:14,2019-11-04 03:15:30

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   visit_datetime     3 non-null      object
 1   purchase_datetime  3 non-null      object
 2   visit_dt           3 non-null      datetime64[ns]
 3   purchase_dt        3 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 224.0+ bytes

In [158]:
df['diff_time'] = df['purchase_dt'] - df['visit_dt']

In [159]:
df

,visit_datetime,purchase_datetime,visit_dt,purchase_dt,diff_time
0,2019-11-04T00:05:13,2019-11-04T00:15:53,2019-11-04 00:05:13,2019-11-04 00:15:53,0 days 00:10:40
1,2019-11-04T00:06:19,2019-11-04T00:07:59,2019-11-04 00:06:19,2019-11-04 00:07:59,0 days 00:01:40
2,2019-11-04T01:35:14,2019-11-04T03:15:30,2019-11-04 01:35:14,2019-11-04 03:15:30,0 days 01:40:16

In [161]:
(df.purchase_dt - df.visit_dt).astype('timedelta64[m]').mean()

37.0

### Методы работы со строками

In [162]:
stats = pd.read_csv('keywords.csv')
stats.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

Проверка наличия подстроки в строке в питоне:

In [163]:
'охотник' in 'каждый охотник желает знать...'

True

Аналог в pandas:

In [164]:
stats[stats.keyword.str.contains('охотник')]

                                                 keyword  shows
3072                         сумеречные охотники 2 сезон  71965
3474                                 сумеречные охотники  66083
3654                   белоснежка и охотник 2 фильм 2016  63154
4178                          последний охотник на ведьм  57560
6127               последний охотник на ведьм фильм 2015  42213
7136                                белоснежка и охотник  37435
7408                            охотники за привидениями  35714
8980                 охотники за привидениями фильм 2016  30434
9110                          сумеречные охотники сериал  32418
9781                              белоснежка и охотник 2  29256
11085           охотники за привидениями мультфильм 1984  26019
16363                                  охотники на ведьм  18499
19750                        сумеречные охотники 1 сезон  15709
20696                      охотники за привидениями 2016  15194
23661                                охотники на троллей  13698
24331                                  сибирский охотник  13017
25220                охотники за привидениями фильм 1984  12093
29557                    белоснежка и охотник фильм 2012  11007
30071  президент линкольн охотник на вампиров фильм 2012  10873
31254                               охотники за головами   9941
31683                       охотники на ведьм фильм 2013  10510
32726                     охотник за головами фильм 2010  10037
37486                             охотники на гангстеров   8815
40490                  сумеречные охотники сериал актеры   8297
42437                                охотники за разумом   7931
42468                        охотник на убийц фильм 2004   8000
43060           охотники за привидениями мультфильм 2016   8433
43143                                охотники фильм 2016   7867
48983                                  городской охотник   6994
53841                  охотники на гангстеров фильм 2013   6400
55617  трансформеры прайм охотники на чудовищ восстан...   6235
57025                сумеречные охотники 2 сезон 3 серия   6111
60367               смотреть сумеречные охотники 2 сезон   6943
61837                     охотники на троллей мультфильм   6037
62040                сумеречные охотники 2 сезон 5 серия   5717
62144                                            охотник   5638
63794                                   записки охотника   5504
64734                          охотник на лис фильм 2014   5398
67920                сумеречные охотники 2 сезон 4 серия   5266
71770                       городской охотник фильм 1993   4959
73137                                           охотники   4852
73308                                   охотник на ведьм   4916
75238               охотники за привидениями мультсериал   4822
76732                       смотреть сумеречные охотники   5464
79423                             охотники за реликвиями   4451
80210         последний охотник на ведьм смотреть онлайн   5279
80799      сумеречные охотники 2 сезон дата выхода серий   4800
81153                                охотник за головами   4434
82472                                        охотники ру   4348
86289                сумеречные охотники смотреть онлайн   4861
86552                                охотники на ведьм 2   4248
87410                     охотники за разумом фильм 2004   4080
87550             президент линкольн охотник на вампиров   4161
89533  последний охотник на ведьм 2015 смотреть фильм...   4159
92479                сумеречные охотники 2 сезон 1 серия   4416
94633  космический охотник приключения в запретной зо...   3824
97018                сумеречные охотники 2 сезон 2 серия  28820
99720         охотники за привидениями 2 мультфильм 1989   3641

[Документация](https://www.geeksforgeeks.org/python-pandas-series-str-contains/)

Syntax: Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)

Parameter :
- pat : Character sequence or regular expression.
- case : If True, case sensitive.
- flags : Flags to pass through to the re module, e.g. re.IGNORECASE.
- na : Fill value for missing values.
- regex : If True, assumes the pat is a regular expression.

In [166]:
# поиск одного из нескольких слов

stats[stats.keyword.str.contains('охотник|фильм|2016')]

                                     keyword    shows
20                               фильмы 2016  4486635
51                                    фильмы  2156641
54                             фильмы онлайн  2305540
68                    смотреть фильмы онлайн  1928484
86                              порно фильмы  1458031
...                                      ...      ...
99935                  премьеры фильмов 2016     3713
99939           ромео и джульетта фильм 1968     4190
99945                    крушение фильм 2010     3659
99963                       исламские фильмы     3706
99976  бэтмен против дракулы мультфильм 2005     3631

[7241 rows x 2 columns]

### Упражнение
Отфильтруйте датафрейм stats по поисковым запросам, которые содержат строку "погода в" и упоминают один из городов: Москва, Новосибирск, Краснодар.

In [ ]:
stats.tail()

In [167]:
stats[stats.keyword.str.contains('Москва|Новосибирск|Краснодар')]

Empty DataFrame
Columns: [keyword, shows]
Index: []

### replace

In [ ]:
'отпуск начнется завтра'.replace('завтра', 'через месяц')

Аналог в pandas на запросах про сериалы:

In [ ]:
serial = stats[stats.keyword.str.contains('сериалы')]
serial.head()

In [168]:
serial.keyword.str.replace('сериалы', 'книги').head()

246                              книги
304                          книги тут
555    турецкие книги на русском языке
881                      русские книги
890                       книги онлайн
Name: keyword, dtype: object

### Как учитывать разное написание слов
Самое простое - методы upper и lower

In [169]:
serial.keyword.str.upper().head()

246                              СЕРИАЛЫ
304                          СЕРИАЛЫ ТУТ
555    ТУРЕЦКИЕ СЕРИАЛЫ НА РУССКОМ ЯЗЫКЕ
881                      РУССКИЕ СЕРИАЛЫ
890                       СЕРИАЛЫ ОНЛАЙН
Name: keyword, dtype: object

In [170]:
serial.keyword.str.lower().head()

246                              сериалы
304                          сериалы тут
555    турецкие сериалы на русском языке
881                      русские сериалы
890                       сериалы онлайн
Name: keyword, dtype: object

### Что делать если нужно учесть формы написания слов?

In [171]:
stats[stats.keyword.str.contains('рубл')].head()

                                                keyword   shows
1202   алиэкспресс на русском в рублях официальный сайт  161553
1602                                курс гривны к рублю  125076
1736  али экспресс русская версия на русском в рубля...  117260
2132                                    доллары в рубли  114173
2172                              100 долларов в рублях   97534

Почему нельзя просто оставить str.contains('рубл'):

In [172]:
non_financial_search = 'рубленая котлетка'

### Библиотека [pymystem](https://pypi.org/project/pymystem3/)

In [ ]:
pip install mystem

In [173]:
from pymystem3 import Mystem

In [174]:
search = 'курс гривны к рублю рубли рублях'

In [175]:
m = Mystem()
lemmas = m.lemmatize(search)
lemmas

['курс',
 ' ',
 'гривна',
 ' ',
 'к',
 ' ',
 'рубль',
 ' ',
 'рубль',
 ' ',
 'рубль',
 '\n']

In [176]:
' '.join(lemmas)

'курс   гривна   к   рубль   рубль   рубль \n'

### Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [ ]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

|  Review  | Sentiment | 
|----------|-----------|
| Хорошая новость, еще бы ...    | Positive  |
| Я был очень разочарован ...    | Negative  |
| Зачем писать ерунду, ес ...     | Negative  |
| Ничего особенного я не с...   | Netral    |
| Здорово! Было бы интерес...     | Positive  |